fastapi[all]==0.89
fastapi-restful==0.4.3
fastapi-health==0.4.0
service-streamer==0.1.2
loguru==0.6.0  
gunicorn==20.1.0
pydantic==1.9.2
diffusers @ git+https://github.com/huggingface/diffusers
peft @ git+https://github.com/huggingface/peft.git
transformers
accelerate
scipy
ftfy
omegaconf
safetensors
invisible-watermark>=0.2.0